/* You can add global styles to this file, and also import other style files */
* {
    font-weight: normal;
    box-sizing: border-box;
}

.title-page {
    font-weight: 600;
}

.breadcrumb {
    font-weight: 400;
    font-size: 15px;
}


.nav-link{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}